.header {
    padding: 2.5rem 0rem;
    margin-bottom: 5rem;
}

figure {
    margin: 0px;
}

img {
    max-width: 75%;
}

a {
    font-size: 1rem;
    color: var(--primary-color);

    i {
        font-size: 1.8rem;
    }

}