<div class="page-background mt-5 ">

    <div class="form-box col-lg-6 ">
        <button title="volver atrás" (click)="goBack()"> <i class="fas fa-arrow-left"></i></button>
        <h1 class="text-center">Nuevo gasto</h1>
        <div class="row mt-4 align-self-center">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="" class="form-label fw-bold">Título del gasto </label>
                    <input type="text" class="form-control" formControlName="name">

                    @if(checkErrorField('name', 'minlength')){
                    <p class="error">El título es obligatorio y debe tener al menos 3 caracteres</p>
                    }
                </div>
                <div class="mb-3">
                    <label for="" class="form-label fw-bold">Cantidad (€)</label>
                    <input type="number" class="form-control" formControlName="amount">
                    @if(checkErrorField('amount', 'required')){
                    <p class="error text-primary">El campo es obligatorio</p>
                    }

                    @if(checkErrorField('amount', 'min')){
                    <p class="error text-primary">La cantidad tiene que ser al menos de 50 céntimos</p>
                    }
                    @if(checkErrorField('amount', 'max')){
                    <p class="error text-primary">El gasto no puede ser mayor de 1 millón de euros</p>
                    }

                    @if(checkErrorField('amount', 'pattern')){
                    <p class="error text-primary">Solo puedes añadir números</p>
                    }
                </div>
                <label for="" class="form-label fw-bold">Asignación (€)

                </label>
                @if(arrUsersTeam){

                <div class=" justify-content-around" formArrayName="assignations">
                    @for(assignationForm of assignations.controls; track $index){
                    <div [formGroupName]="$index">
                        <div class="mb-3 d-flex">

                            <input type="text" class="form-control-plaintext " [disabled]="true" [readonly]="true"
                                formControlName="Username">
                            <input type="number" class="form-control" formControlName="Assignation">
                        </div>
                        <input type="hidden" formControlName="UserId">
                    </div>
                    }
                </div>
                }

                <div class="text-center mt-5">
                    <app-button type="submit" value="Añadir gasto"> Añadir gasto</app-button>
                </div>


            </form>
        </div>

    </div>


</div>