<section class="container my-3">

    <h3>Detalle de usuario</h3>

    <div class="card p-3 shadow-sm2">

        <div class="row">

       <div class="col-xl-4 col-md-6 col-xs-12">
            <figure>
                <img src="https://cdn-icons-png.flaticon.com/512/2566/2566170.png" alt="">
            </figure>
       </div>
            
            
        <div class="col-xl-8 col-md-6 col-xs-12">
            <h3 class="pb-3">USERNAME</h3>
            <p><strong>Mail:</strong> mail</p>
            <p><strong>Password:</strong> password</p>
            <button class="btn btn-danger m-2" (click)="ngChangeInfo()">Modificar info</button>
            <button class="btn btn-danger m-2" (click)="ngOnLogOut()">Log Out</button>
            <button class="btn btn-danger" [routerLink]="['/team/:idTeam']">Volver al grupo</button>
        </div>

    </div>
            

    </div>

</section>