@if (user) {

<div class="page-background mt-5">
    <div class="form-box col-12 col-lg-6  ">

        <button title="volver atrás" (click)="goBack()"> <i class="fas fa-arrow-left"></i></button>


        <h1 class="text-center">Detalle de usuario</h1>
        <div class="row">
            <div class="col-6">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/512/2566/2566170.png" alt="">
                </figure>
            </div>


            <div class="pt-4 col-6">
                <h3 class="pb-3">{{user.Username}}</h3>
                <p>{{user.Mail}}</p>
                @if(usersService.ItsMe(user.Id)){
                <app-button type="submit" text="Log Out" (click)="LogOut()">Log Out</app-button>
                }
            </div>
        </div>
    </div>
</div>



}