<div>
    <div class="positionImg">
        <figure>
            <img src="/images/illustration-login.png">
        </figure>
    </div>
    <!--     <div class="pImg">
        <figure>
            <img src="/images/illustration-login-2.png">
        </figure>
    </div> -->

    <div class="formLogin shadow-lg">
        <figure>
            <img src="/images/iconoPerfil.png">
        </figure>
        <h4>Iniciar Sesión</h4>
        <div class="row mt-4 text-center">
            <div class="col-12 ">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label visually-hidden">Email</label>
                        <input type="email" class="form-control  rounded-pill text-center px-5 py-2"
                            formControlName="mail" placeholder="Ingresa tu email">

                        @if(checkErrorField('mail', 'required')){
                        <p class="error text-primary mt-2">Email es obligatorio</p>

                        }

                        @if(checkErrorField('mail', 'pattern')){
                        <p class="error text-primary mt-2">Formato no válido</p>
                        }


                    </div>
                    <div class="mb-3">
                        <label class="form-label visually-hidden">Contraseña</label>
                        <input type="password" class="form-control  rounded-pill text-center px-5 py-2"
                            formControlName="password" placeholder="Ingresa tu contraseña">
                        @if(checkErrorField('password', 'required')){
                        <p class="error text-primary mt-2">Contraseña obligatoria</p>
                        }
                    </div>
                    <app-button type="submit" value="login" class="btnSize mt-2"> Iniciar Sesión </app-button>

                    <!--                     <input type="submit" value="Enviar" class="btn btn-danger btn-lg rounded-3 fw-bold"
                        [disabled]="loginForm.invalid"> -->
                </form>

            </div>
        </div>
    </div>
</div>