<div>
    <div class="positionImg">
        <figure>
            <img src="/images/illustration-login.png">
        </figure>
    </div>

    <div class="formLogin shadow-lg">
        <figure>
            <img src="/images/iconoPerfil.png">
        </figure>
        <h4>Registro</h4>
        <div class="row mt-4 text-center">
            <div class="col-12 ">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 ">
                        <label for="" class="form-label visually-hidden">Username</label>
                        <input type="text" class="form-control rounded-pill text-center px-5 py-2"
                            formControlName="username" placeholder="Username">
                        @if(checkErrorField('username', 'required')){
                        <p class="error text-primary mt-2">El campo es obligatorio</p>
                        }
                        @if(checkErrorField('username', 'minlength')){
                        <p class="error text-primary mt-2">El Username debe tener una longitud mínima de 6 caracteres
                        </p>
                        }
                    </div>
                    <div class="mb-3 ">
                        <label for="" class="form-label visually-hidden">Correo electrónico</label>
                        <input type="text" class="form-control rounded-pill text-center  px-5 py-2"
                            formControlName="mail" placeholder="Correo electrónico">
                        @if(checkErrorField('mail', 'required')){
                        <p class="error text-primary mt-2">El email es obligatorio</p>
                        }

                        @if(checkErrorField('mail', 'pattern')){
                        <p class="error text-primary mt-2">El email tiene que ser correcto</p>
                        }
                    </div>
                    <div class="mb-3 ">
                        <label for="" class="form-label visually-hidden">Contraseña</label>
                        <input type="password" class="form-control rounded-pill text-center  px-5 py-2"
                            formControlName="password" placeholder="Introduce tu contraseña">
                        @if(checkErrorField('password', 'required')){
                        <p class="error text-primary mt-2 mb-0">La contraseña es obligatoria</p>
                        }
                        @if(checkErrorField('password', 'minlength')){
                        <p class="error text-primary mt-2 mb-0">La longitud minima de la contraseña es 6</p>
                        }
                    </div>
                    <div class="mb-3 ">
                        <label class="form-label visually-hidden" for="checkPassword">Repite la contraseña</label>
                        <input class="form-control rounded-pill text-center  px-5 py-2" type="password"
                            id="checkPassword" formControlName="checkPassword" placeholder="Repite la contraseña">
                        @if(registerForm.hasError('passwordvalidator') && registerForm.get('password')?.value &&
                        registerForm.get('checkPassword')?.value){
                        <p class="error text-primary mt-2 mb-0">Las contraseñas no coinciden</p>
                        }

                    </div>
                    <app-button type="submit" value="register" class="mt-2 btnSize"> Registrarse </app-button>

                </form>
            </div>
        </div>
    </div>
</div>