<div class="row mt-5">
    <div class="col-12 col-lg-6 offset-0 offset-lg-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="username">
                @if(checkErrorField('username', 'required')){
                    <p class="error">El campo es obligatorio</p>
                    }
                    @if(checkErrorField('username', 'minlength')){
                    <p class="error">El Username debe tener una longitud mínima de 6 caracteres</p>
                    }
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo electrónico</label>
                <input type="text" class="form-control" formControlName="mail">
                @if(checkErrorField('mail', 'required')){
                    <p class="error">El email es obligatorio</p>
                    }
                
                    @if(checkErrorField('mail', 'pattern')){
                    <p class="error">El email tiene que ser correcto</p>
                    }
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Introduce tu contraseña">
                @if(checkErrorField('password', 'required')){
                    <p class="error">La contraseña es obligatoria</p>
                    }
                    @if(checkErrorField('password', 'minlength')){
                        <p class="error">La longitud minima de la contraseña es 6</p>
                        }
            </div>
            <div>
                <label class="form-label" for="checkPassword">Repite la contraseña</label>
                <input class="form-control" type="password" id="checkPassword" formControlName="checkPassword">
                @if(registerForm.hasError('passwordvalidator') && registerForm.get('password')?.value && registerForm.get('checkPassword')?.value){
                    <p class="error">Las contraseñas no coinciden</p>
                }
                
              </div>
         
            <input type="submit" value="Registrarse" class="btn btn-info mt-5 ">
        </form>
    </div>
</div>