<section class="container my-3">
    <h3>Detalle de gasto</h3>
    <div class="card p-3 shadow-sm2">
      <div>
        <h3 class="pb-3">{{expense.Name}}</h3>
        <p><strong>Fecha de creación:</strong> {{expense.CreationDate}}</p>
        <p><strong>Fecha de actualización:</strong> {{expense.UpdatedDate}}</p>
        <p><strong>Cantidad:</strong> {{expense.Amount}} €</p>
        <p><strong>Grupo:</strong> grupo al que pertenece</p>
        <p><strong>Creador:</strong> creador del gasto</p>
        <p><strong>Asignación:</strong> % asignado del gasto</p>
        <button class="btn btn-danger m-2">Modificar</button>
        <button class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </section>