img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
  border: solid 1px black;
}

p{
  width: 300px;
}
button {
  background: none;
  border: none;
  color: #FF644C;
  /* Color de la flecha */
  font-size: 1.5rem;
  /* Tamaño de la flecha */
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
}

button:hover {
  color: #E5533C;
  /* Color más oscuro al pasar el ratón */
}


.alignFlex {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;


}