.home {
    background: none;

}

img {
    width: 100%;
}

.hero {
    width: 100vw;
    height: auto;
    background: none;

}

.info {

    padding-left: 5rem;
    padding-right: 5rem;

    h1 {
        font-size: 4.5rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 2rem;
        color: var(--fourth-color);
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: var(--fourth-color);
    }

    .btn-large {
        font-size: 1.8rem;
        padding: 3rem 0rem;
    }
}


@media(width >=992px) {
    .info {
        padding-left: 0rem;
        padding-right: 10rem;
    }

    .home {
        background-image: url("/images/illustration2-02.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: calc(100% - 2.5rem) center;
    }


}



@media(width >=1200px) {
    .home {

        background-position: calc(100% - 5rem) center;
    }


}

@media(width >=1400px) {
    .home {

        background-position: calc(100% - 7.5rem) center;
    }
}