@if(usersService.isLogged()) {
<div class="home figure-responsive">
    <app-team-list></app-team-list>
</div>

}@else {
<div class="hero">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 ">
            <figure class="figure-responsive">
                <img src="/images/homeIllustration.png" alt="cuentas" class="img-fluid">
            </figure>
        </div>
        <div class="info col-lg-6 ">
            <h1>Comparte gastos sin complicaciones</h1>
            <h2>Organiza, divide y liquida cuentas con facilidad</h2>
            <p>¿Te ha pasado que después de un viaje o una cena con amigos nadie recuerda cuánto
                pagó o
                quién debe qué?
                Con karmapay, olvidate de los cálculos interminables y los enredos con el dinero.
                ¡Haz que compartir gastos sea fácil y sin estrés! Regístrate ahora y empieza a organizar tus finanzas en
                grupo.
            </p>

            <div class="d-flex justify-content-center btn-large">
                <app-button class="" [routerLink]="['/home/register']"> Comenzar ahora </app-button>
            </div>
        </div>
    </div>
</div>

}