.home {
    background: none;

}

img {
    width: 100%;
}

.hero {
    width: 100vw;
    height: auto;
    background: none;



}


@media(width >=992px) {
    .home {
        background-image: url("/images/illustration2-02.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: calc(100% - 2.5rem) center;
    }
}



@media(width >=1200px) {
    .home {

        background-position: calc(100% - 5rem) center;
    }
}

@media(width >=1400px) {
    .home {

        background-position: calc(100% - 7.5rem) center;
    }
}