<h3 class="mb-3">Integrantes</h3>

<app-user-search (busquedaEmitida)="searchByUsername($event)"></app-user-search>

<div class="row">
  @for( user of arrUsers; track user.Id) {
  <article class="col-xl-6 col-lg-6 col-md-6 col-xs-6 g-3">
    <app-user-card [miUser]="user" [idTeam]="idTeam"></app-user-card>
  </article>
  }@empty {
  <h4>No hay integrantes</h4>
  }

</div>

<div class="invite-container mt-3">
  <p class="invite-label fw-bold">Invitar a alguien al grupo:</p>
  <input type="text" placeholder="Introduce un email" [(ngModel)]="inviteByEmail" class="form-control">
  <div class="w-25 mt-3">
    <app-button (click)="inviteUser()">
      Invitar
    </app-button>
  </div>
</div>