<div class="page-background mt-5">
    <div class="form-box col-12 col-lg-6  ">
        <button title="volver atrás" (click)="goBack()"> <i class="fas fa-arrow-left"></i></button>
        <h1 class="text-center">Nuevo Grupo</h1>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 px-2">
                <label for="" class="form-label fw-bold">Nombre del grupo</label>
                <input type="text" class="form-control" formControlName="name">


                @if(checkErrorField('name', 'required')){
                <p class="error text-primary">Debes rellenar este campo</p>
                }
            </div>
            <div class="mb-3 px-2">
                <label for="" class="form-label fw-bold">Descripción</label>
                <input type="text" class="form-control" formControlName="description">
                @if(checkErrorField('description', 'required')){
                <p class="error text-primary">Debes poner una descripción del grupo entre 3 y 100 carac</p>
                }
                @if(checkErrorField('description', 'minlength')){
                <p class="error text-primary">La descripción debe tener al menos 3 caracteres</p>
                }
                @if(checkErrorField('description', 'maxlength')){
                <p class="error text-primary">La descripción no puede tener mas de 100 caracteres</p>
                }

            </div>
            <div class="mb-3 px-2">
                <label for="category" class="form-label fw-bold">Categoría</label>
                <select class="form-select" formControlName="category">
                    <option value="Comida">Comida</option>
                    <option value="Ocio">Ocio</option>
                    <option value="Transporte">Transporte</option>
                    <option value="Compras">Compras</option>
                </select>
                @if(checkErrorField('category', 'required')){
                <p class="error text-primary">Debes elegir una categoría</p>
                }

            </div>

            <div class="mb-3 px-2">
                <label for="" class="form-label fw-bold">Imagen de grupo</label>
                <input type="url" class="form-control" formControlName="image">
            </div>
            <div class="text-center ">
                <app-button type="submit" text="Crear grupo">Crear grupo
                </app-button>
            </div>
        </form>

    </div>

</div>